div{
    display: inline-block;
}
input{
    border-radius: 10px;
    margin-left: 114px;
}
label{
    margin-left: 114px;
}
.box1{
    width: 201px;
    height: 45px;
}
.box2{
    width: 593px;
    height:45px ;
    margin-right: 15px;
}
.box3{
   width: 201px; 
   height: 45px;
}
.search{
    width: 115px;
    height: 45px;
    background-color: #FFD43A;
    border-radius: 10px;
}

table{
    border: 1px solid #DADADA;
    border-collapse: collapse;
    margin-left: 114px;
}
h2{
    margin-left: 114px;
}
td, th{
    border: 1px solid #DADADA;
    
}
.id{
    width: 72px;
    height: 57px;
}
.title{
    width: 444px;
    height: 57px;
    text-align: start;
}
.created{
    width: 276px;
    height: 57px;
}
.action1, .action2{
    width: 190px;
    height: 57px;
}
.number, .date{
    text-align: center;
}
.text{
    margin-left: 15px;
}
.edit{
    width: 115px;
    height: 36px;
    background-color: #FFD43A;

}
.edit2{
    width: 115px;
    height: 36px;
    background-color: #FF0000;

}
.button1, .button2{
    text-align: center;
}
.date{
    color: #FF0000;
}