* {
    box-sizing: border-box;
}
/*ძიების ველის დასაწყისი*/
div{
    display: inline-block;
}
input{
    border: none;
}
.box1{
    margin-left: 114px;
    width: 201px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
}
.IDlabel{
    margin-left: 114px;
}
.box2{
    width: 490px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
}
.box3{
    width:201px ;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    margin-left: 60px;
}
.Created{
    margin-left: 60px;
}
.search{
    width: 115px;
    height: 45px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    background-color: #FFD43A;
}
/*ძიების ველის დასასრული*/

/*ცხრილის დასაწყისი*/
table{
    border: 1px solid #DADADA;
    border-collapse: collapse;
    margin-left: 114px;
}
h2{
    margin-left: 114px;
}
td, th{
    border: 1px solid #DADADA;
    
}
.id{
    width: 72px;
    height: 57px;
}
.title{
    width: 435px;
    height: 57px;
    text-align: start;
}

.created{
    width: 276px;
    height: 57px;
}
.action1, .action2{
    width: 190px;
    height: 57px;
}
.number, .date{
    text-align: center;
}
.text{
    margin-left: 15px;
}
.edit{
    width: 115px;
    height: 36px;
    background-color: #FFD43A;

}
.edit2{
    width: 115px;
    height: 36px;
    background-color: #FF0000;

}
.button1, .button2{
    text-align: center;
    
}
.date{
    color: #FF0000;
}
.edit,.edit2{
    border: none;
}
/*ცხრილის დასასრული*/